@page "/mach2283"

<PageTitle>Machine 2283</PageTitle>
<h3>2283: Mazatrol Smooth G</h3>


<p style="margin-top:4%; margin-left:1em">
	<h4>•	Shifts</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	1st shift goes from 5:00 am to 3:30 pm.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	2nd shift is from 3:30 pm to 2:00 am.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	3rd shift occurs from 5:00 am through 5:30 pm Friday through Sunday.
	</div>
	<div style="margin-bottom:4%; margin-left:1em">
		-	The CNC Machine will often run overnight.
	</div>
</p>

<p style="margin-top:4%; margin-left:1em">
	<h4>•	Runtime States</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Running: The machine is running and making parts.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Idle: The machine is ready to execute instructions or is waiting for an operation to complete.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Manual: The machine mode is in manual mode.
	</div>
	<div style="margin-bottom:4%; margin-left:1em">
		-	Down: The machine is offline or has been interrupted, or the program has been stopped.
	</div>
</p>

