@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>Main Page</PageTitle>




<p style="margin-top:4%; margin-left:1em">
	<h4>Upcoming Future Updates</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Calender Widget for date selection
	</div>
		<div style="margin-bottom:0%; margin-left:1em">
		-	pdf report generator
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Cycle Time Analysis graphs
	</div>
</p>

<p style="margin-top:4%; margin-left:1em">
	<h4>V0.4 release -> 5/17/23</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Added Machine 2112 
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	added Operation and confirmation number rows to the datalog
	</div>
</p>


<p style="margin-top:4%; margin-left:1em">
	<h4>V0.3 release -> 4/3/23</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Datalog change 
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	SQL Fix
	</div>
</p>

<p style="margin-top:4%; margin-left:1em">
	<h4>V0.2 release -> 3/19/23</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	SQL Database Change
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Machine Label Change
	</div>
</p>

<p style="margin-top:4%; margin-left:1em">
	<h4>V0.1 release -> 9/20/23</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Changed Program design to use local client.
	</div>
		<div style="margin-bottom:0%; margin-left:1em">
		-	Changed How SQL Squeries are performed.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Fixed the Pie Charts.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Kiosk Commands can be filtered in Data Logging.
	</div>
</p>

<p style="margin-top:4%; margin-left:1em">
	<h4>April Update</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Overrides Viewer Feature added to relevant Machines
	</div>

</p>

<p style="margin-top:4%; margin-left:1em">
	<h4>March Update</h4>
	<div style="margin-bottom:0%; margin-left:1em">
		-	New Machines added: see Navigation bar for details.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		-	Buttons on top bar have functionality. Press + or - to change the day/s being viewed.
	</div>
	<div style="margin-bottom:0%; margin-left:1em">
		- Runtime now has a bar chart to show more specific information.
	</div>
</p>


@code{


}



